@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-image: url(../IMG/hero.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 280px;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #4BAFD1;
    color: #FFF;
    
}

a {
    text-decoration: none;
    color: #FFF;
}

header {
    height: 70px;
    /* width: 100vw; */
    background-color: rgba(22, 52, 62, 0.6);
}

header>#logo {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}



.logo {
    display: flex;
}

.nav {

    display: flex;
    justify-content: space-around;
    height: 50px;
    align-items: center;
    background-color: rgba(22, 52, 62, 0.6);
    -webkit-box-shadow: 0px 17px 12px 0px #212121;
        box-shadow: 0px 17px 12px 0px #212121;
}



.frontpage_txt {
    padding-left: 20px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
}

 #parent {
        padding-left: 0px;
        height: 40px;
        white-space: nowrap;
        overflow: hidden;
        font-family: 'Roboto', sans-serif;
        font-size: 28px;
        color: rgb(255, 0, 0);
        position: relative;
        font-weight: bold;
    }

    #border {
        border-bottom: solid 3px rgba(0, 255, 0, .75);
        position: absolute;
        right: -7px;
        width: 20px;
    }

    /* Animation */
    #parent {
        animation: animated-text 2s steps(60, end) 1s 1 normal both
    }

    #border {
        animation: animated-cursor 1200ms steps(60, end) infinite;
    }

    /* text animation */

    @keyframes animated-text {
        from {
            width: 0;
        }

        to {
            width: 225px;
        }
    }

    /* cursor animations */

    @keyframes animated-cursor {
        from {
            border-bottom-color: rgba(255, 255, 255, 0.75);
        }

        to {
            border-bottom-color: transparent;
        }
    }

@media only screen and (min-width : 600px) {


    @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

    /*scrollbar*/
    ::-webkit-scrollbar {
        width: 10px;


    }

    /*tracking*/
    ::-webkit-scrollbar-track {
        background: #808080;

    }

    /*handle*/
    ::-webkit-scrollbar-thumb {
        background: rgba(0, 0, 0, 100);


    }

    /*handle on hover*/
    ::-webkit-scrollbar-thumb:hover {
        background: rgba(119, 93, 93, 50);

    }

    body {
        margin: 0;
        padding: 0;
        font-family: 'Roboto', sans-serif;
        background-color: #37829B;
    }


    .background {
        background-image: url('../IMG/hero.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x: center;
        height: 100vh;
        background-blend-mode: darken;
        background-color: rgba(0, 0, 0, 0.26);
    }



    header {
        -webkit-box-shadow: 0px 17px 12px 0px #212121;
        box-shadow: 0px 17px 12px 0px #212121;
        height: 70px;
        /* width: 100vw; */
        background-color: rgba(0, 0, 0, 0.6);
        display: flex;
        align-items: center;
    }

    #logo {
        width: 33%;
        padding-left: 20px;
    }

    .logo {
        display: flex;
        justify-content: left;
        color: rgba(255, 255, 255, 0.397);
    }

    .nav {
        display: flex;
        width: 67%;
        opacity: 100;
        -webkit-box-shadow: 0px 17px 12px 0px #21212100;
        box-shadow: 0px 17px 12px 0px #21212100;
    }

    a {
        color: white;
        margin: 60px;
        text-decoration: none;
        display: flex;
        justify-content: space-around;
    }

    h1 {
        padding-left: 20px;
        color: #FFF;
    }

    h2 {
        padding-left: 20px;
        color: #FFF
    }



    #parent {
        padding-left: 20px;
        height: 40px;
        white-space: nowrap;
        overflow: hidden;
        font-family: 'Roboto', sans-serif;
        font-size: 28px;
        color: rgb(255, 0, 0);
        position: relative;
        font-weight: bold;
    }

    #border {
        border-bottom: solid 3px rgba(0, 255, 0, .75);
        position: absolute;
        right: -7px;
        width: 20px;
    }

    /* Animation */
    #parent {
        animation: animated-text 2s steps(60, end) 1s 1 normal both
    }

    #border {
        animation: animated-cursor 1200ms steps(60, end) infinite;
    }

    /* text animation */

    @keyframes animated-text {
        from {
            width: 0;
        }

        to {
            width: 200px;
        }
    }

    /* cursor animations */

    @keyframes animated-cursor {
        from {
            border-bottom-color: rgba(255, 255, 255, 0.75);
        }

        to {
            border-bottom-color: transparent;
        }
    }

}