@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500;700&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    padding: 0;
    margin: 0;

}

$primary-color: #000;
$secondary-color: #3b3b3b;
$tertiary-color: #fff;
$fourth-color: #FF9833;


/* total width */
body::-webkit-scrollbar {
    background-color: rgb(255, 255, 255);
    width: 5px;
}

/* background of the scrollbar except button or resizer */
body::-webkit-scrollbar-track {
    background-color: $secondary-color;

}

/* scrollbar itself */
body::-webkit-scrollbar-thumb {
    background-color: #babac0;
    border-radius: 16px;
    border: 0px solid #fff;
}

/* set button(top and bottom of the scrollbar) */
body::-webkit-scrollbar-button {
    display: none;
}

.container {
    width: 1478px;
    margin: 0 auto;

    h1 {
        font-family: Verdana;
        font-size: 30px;
    }

}

// @import "header"

.bg {
    display: flex;
    height: 100vh;
    background-image: url("../IMG/pexels-photo-3193846.png");
    background-blend-mode: lighten;
    background-color: rgba(255, 255, 255, 0.432);
    flex-direction: column;

    .btn1 {
        font-family: Verdana;
        font-size: 18;
        border-radius: 5px;
        display: flex;
        text-decoration: none;
        width: 200px;
        height: 45px;
        justify-content: center;
        align-items: center;
        color: $tertiary-color;
        background: rgb(224, 28, 23);
        background: linear-gradient(90deg, rgba(224, 28, 23, 1) 0%, rgba(255, 152, 51, 1) 100%);
    }

}

header {
    background-color: $primary-color;

    div {
        height: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;

    }



}



nav {
    display: flex;

    li {
        list-style: none;

    }

    a {
        text-decoration: none;
        color: $tertiary-color;
        font-family: Verdana;
        font-size: 24px;
    }

    ul {
        display: flex;
        justify-content: space-between;
        width: 33.5vw;
    }

}

.hero {
    flex: 1;
    background: rgb(224, 28, 23);
    background: linear-gradient(90deg, rgba(224, 28, 23, 1) 0%, rgba(255, 152, 51, 1) 100%);
    clip-path: polygon(0 0, 55% 0, 91% 100%, 0% 100%);
    display: flex;
    align-items: center;

    .content {

        h1 {
            font-family: 'Barlow Condensed', sans-serif;
            font-size: 60px;
        }

        p {
            font-family: Verdana;
            font-size: 24px;
            width: 797px;
        }

        .buttons {
            display: flex;
            justify-content: space-between;
            margin-top: 35px;
            // font-family: ;
            width: 382px;

            .btn2 {
                font-family: Verdana;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $tertiary-color;
                border-radius: 5px;
                text-decoration: none;
                color: $primary-color;
                // margin-right: 60px;
                width: 200px;
                height: 45px;
            }

            .btn3 {
                font-family: Verdana;
                font-size: 18px;
                text-decoration: none;
                color: $tertiary-color;
            }
        }



    }
}

.list_experiences {
    background-color: $secondary-color;

    .experiences {
        h1 {
            font-family: 'Barlow Condensed Medium', sans-serif;
            color: $fourth-color;
            font-size: 60px;
            display: flex;
            justify-content: center;
            padding-top: 62px;
            padding-bottom: 32px;

        }

        .images {
            display: flex;
            justify-content: space-around;
            width: 1364px;
        }

        .names {

            h1 {
                font-family: Verdana;
                font-size: 18px;
            }

            display: flex;
            justify-content: space-around;
            width: 1336px;
        }

        .experiences_txt {
            display: flex;

            p {
                font-family: Verdana;
                font-size: 18px;
                width: 255px;
            }

            justify-content: space-around;
            width: 1336px;
        }

        .btn4 {
            font-family: Verdana;
            font-size: 18px;
            text-decoration: none;
            color: $tertiary-color;
            background: rgb(224, 28, 23);
            background: linear-gradient(90deg, rgba(224, 28, 23, 1) 0%, rgba(255, 152, 51, 1) 100%);
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
            height: 45px;
            width: 200px;
            margin-top: 90px;


        }

        padding-bottom: 78px;
    }

}

.app {
    background-color: $tertiary-color;

    .phone {
        display: flex;



        .app_txt {
            display: flex;
            justify-content: center;
            align-items: inherit;
            flex-direction: column;

            h1 {
                color: $fourth-color;
                font-family: 'Barlow Condensed Medium', sans-serif;
                font-size: 55px;
                padding-bottom: 23px;

            }

            p {
                color: $primary-color;
                font-family: 'Roboto', sans-serif;
                font-size: 24px;
                width: 665px;
            }
        }



    }
}

.newsletter{
    
   
    

    background: rgb(224, 28, 23);
    background: linear-gradient(90deg, rgba(224, 28, 23, 1) 0%, rgba(255, 152, 51, 1) 100%);
        .newsletter_content{
            width: 1073px;
             height: 571px;
            display: flex;
            // align-items: center;
            justify-content: space-between;

            .social{
                display: flex;
                justify-content: space-around;
                flex-direction: column;
            }

            .signup{
                display: flex;
                flex-direction: column;
                justify-content: center;

                h1{
                    font-family: 'Barlow Condensed Medium', sans-serif;
                    margin-bottom: 20px;
                }

                p{
                    font-family: 'Roboto', sans-serif;
                    margin-bottom: 25px;
                    width: 796px;
                }

                .textbox{
                  width: 796px;
                  height: 60px;
                  border-radius: 5px;
                  border: none;
                }

                .btn5{
                    margin-top: 25px;
                    font-family: 'Montserrat', sans-serif;
                    font-size: 24px;
                    text-decoration: none;
                    border: $tertiary-color solid 5px;
                    color: $tertiary-color;
                    // background-color: $tertiary-color;
                    border-radius: 5px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 232px;
                    height: 60px;
                }
            }

            
        }
}



// .gradient{
//     background: rgb(224,28,23);
//     background: linear-gradient(90deg, rgba(224,28,23,1) 0%, rgba(255,152,51,1) 100%);

h1 {
    color: $tertiary-color;
}

p {
    color: $tertiary-color;
}