@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500;700&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  padding: 0;
  margin: 0;
}

/* total width */
body::-webkit-scrollbar {
  background-color: rgb(255, 255, 255);
  width: 5px;
}

/* background of the scrollbar except button or resizer */
body::-webkit-scrollbar-track {
  background-color: #3b3b3b;
}

/* scrollbar itself */
body::-webkit-scrollbar-thumb {
  background-color: #babac0;
  border-radius: 16px;
  border: 0px solid #fff;
}

/* set button(top and bottom of the scrollbar) */
body::-webkit-scrollbar-button {
  display: none;
}

.container {
  width: 1478px;
  margin: 0 auto;
}
.container h1 {
  font-family: Verdana;
  font-size: 30px;
}

.bg {
  display: flex;
  height: 100vh;
  background-image: url("../IMG/pexels-photo-3193846.png");
  background-blend-mode: lighten;
  background-color: rgba(255, 255, 255, 0.432);
  flex-direction: column;
}
.bg .btn1 {
  font-family: Verdana;
  font-size: 18;
  border-radius: 5px;
  display: flex;
  text-decoration: none;
  width: 200px;
  height: 45px;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: rgb(224, 28, 23);
  background: linear-gradient(90deg, rgb(224, 28, 23) 0%, rgb(255, 152, 51) 100%);
}

header {
  background-color: #000;
}
header div {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  display: flex;
}
nav li {
  list-style: none;
}
nav a {
  text-decoration: none;
  color: #fff;
  font-family: Verdana;
  font-size: 24px;
}
nav ul {
  display: flex;
  justify-content: space-between;
  width: 33.5vw;
}

.hero {
  flex: 1;
  background: rgb(224, 28, 23);
  background: linear-gradient(90deg, rgb(224, 28, 23) 0%, rgb(255, 152, 51) 100%);
  -webkit-clip-path: polygon(0 0, 55% 0, 91% 100%, 0% 100%);
          clip-path: polygon(0 0, 55% 0, 91% 100%, 0% 100%);
  display: flex;
  align-items: center;
}
.hero .content h1 {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 60px;
}
.hero .content p {
  font-family: Verdana;
  font-size: 24px;
  width: 797px;
}
.hero .content .buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
  width: 382px;
}
.hero .content .buttons .btn2 {
  font-family: Verdana;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 5px;
  text-decoration: none;
  color: #000;
  width: 200px;
  height: 45px;
}
.hero .content .buttons .btn3 {
  font-family: Verdana;
  font-size: 18px;
  text-decoration: none;
  color: #fff;
}

.list_experiences {
  background-color: #3b3b3b;
}
.list_experiences .experiences {
  padding-bottom: 78px;
}
.list_experiences .experiences h1 {
  font-family: "Barlow Condensed Medium", sans-serif;
  color: #FF9833;
  font-size: 60px;
  display: flex;
  justify-content: center;
  padding-top: 62px;
  padding-bottom: 32px;
}
.list_experiences .experiences .images {
  display: flex;
  justify-content: space-around;
  width: 1364px;
}
.list_experiences .experiences .names {
  display: flex;
  justify-content: space-around;
  width: 1336px;
}
.list_experiences .experiences .names h1 {
  font-family: Verdana;
  font-size: 18px;
}
.list_experiences .experiences .experiences_txt {
  display: flex;
  justify-content: space-around;
  width: 1336px;
}
.list_experiences .experiences .experiences_txt p {
  font-family: Verdana;
  font-size: 18px;
  width: 255px;
}
.list_experiences .experiences .btn4 {
  font-family: Verdana;
  font-size: 18px;
  text-decoration: none;
  color: #fff;
  background: rgb(224, 28, 23);
  background: linear-gradient(90deg, rgb(224, 28, 23) 0%, rgb(255, 152, 51) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  height: 45px;
  width: 200px;
  margin-top: 90px;
}

.app {
  background-color: #fff;
}
.app .phone {
  display: flex;
}
.app .phone .app_txt {
  display: flex;
  justify-content: center;
  align-items: inherit;
  flex-direction: column;
}
.app .phone .app_txt h1 {
  color: #FF9833;
  font-family: "Barlow Condensed Medium", sans-serif;
  font-size: 55px;
  padding-bottom: 23px;
}
.app .phone .app_txt p {
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  width: 665px;
}

.newsletter {
  background: rgb(224, 28, 23);
  background: linear-gradient(90deg, rgb(224, 28, 23) 0%, rgb(255, 152, 51) 100%);
}
.newsletter .newsletter_content {
  width: 1073px;
  height: 571px;
  display: flex;
  justify-content: space-between;
}
.newsletter .newsletter_content .social {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.newsletter .newsletter_content .signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.newsletter .newsletter_content .signup h1 {
  font-family: "Barlow Condensed Medium", sans-serif;
  margin-bottom: 20px;
}
.newsletter .newsletter_content .signup p {
  font-family: "Roboto", sans-serif;
  margin-bottom: 25px;
  width: 796px;
}
.newsletter .newsletter_content .signup .textbox {
  width: 796px;
  height: 60px;
  border-radius: 5px;
  border: none;
}
.newsletter .newsletter_content .signup .btn5 {
  margin-top: 25px;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  text-decoration: none;
  border: #fff solid 5px;
  color: #fff;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 232px;
  height: 60px;
}

h1 {
  color: #fff;
}

p {
  color: #fff;
}/*# sourceMappingURL=app.css.map */